* {
    box-sizing: border-box;
}
html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column; 
}

body {
    line-height: 1.5;
    color: rgb(21,96,130);
    font-family: 'Microsoft YaHei UI', sans-serif;
    background-color: white;
    padding-bottom: 60px;
}

.container {
    display: flex;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-top: 5px solid rgb(21,96,130);
    border-bottom: 2px solid #c0c0c0;
}

header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex; 
    gap: 15px;
}

.header-nav-item {
    display: inline-block;
    border-radius: 15px;
    padding: 10px 20px;  
    transition: transform 0.3s ease, background 0.3s ease;
}

.header-nav-item:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.8));
    transform: scale(1.25); 
}

.header-nav-item a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.25rem;
    color: rgb(21,96,130);
    display: block; 
    text-align: center;
}

.logo:hover {
    transform: scale(1.05);
}

.sidebar {
    width: 250px; 
    height: 100%;
    background-color: white; 
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
    padding: 20px;
    box-sizing: border-box;
}
.sidebar nav {
    position: sticky;
    top: 10px;
}
.sidebar nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.sidebar nav ul li {
    margin: 10px 0;
}

.sidebar nav ul li a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.2em;
    color: rgb(21,96,130);
    display: block;
    padding: 10px;
    padding-left: 15px;
    border-radius: 15px;
}

.sidebar nav ul li a:hover {
    background-color: rgb(21,96,130);
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/* Main Content */
main {
    flex: 1;
    margin: 25px;
    margin-left: 50px;
    background-color: white;
    box-sizing: border-box;
    padding-bottom: 100px
}

#wrapper {
    margin: 0;
    padding: 0 50px 0;
}


h1 {
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 40px;
}

h2 {
    font-size: 2.25em;
}

details {
    margin-bottom: 20px;
}

details li {
    font-size: 1.15em;
    padding-bottom: .5em;
}

summary {
    font-weight: bold;
    font-size: 1.35em;
}

p {
    font-size: 1.25em;
}

p a:link, p a:visited{
    color: rgb(16,72,98)
}

hr {
    border: 2px solid #c0c0c0
}

#purpose {
    padding: 0 0 0 1.25em;
    list-style-type: none;
    font-size: 1.25em;
}

#purpose li {
    margin-bottom: .5em;
    font-weight: bold;
    
}

.image-container {
    width: 50%;
    padding: 5px;
    top: -25px;
    border: 2px solid #c0c0c0;
    border-radius: 15px;
    position: relative;
    float: right;
    margin: 25px;
}

#diagram{
    width: 35%;
    top: 0;
}
#panel {
    margin-top: 55px;
    width: 45%;
}

#recs {
    float: left;
    left: -20px
}
#login {
    top: 0;
    width: 25%;
}
h3 {
    font-size: 1.5em;
}
.image-container img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

div #table-container {
    width: 100%;
    padding: 25px;
    border-radius: 15px;
    border: 2px solid #c0c0c0;
}

table {
    width: 100%;
    table-layout: fixed;
}

table caption {
    font-size: 1.5em;
    margin-bottom: 1em
}

th, td {
    border: 1px solid #d4d4d4;
    padding: 8px;
    text-align: left;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

th {
    background-color: #d1d0d0;
    font-weight: bold;
}
div #code {
    border: 2px solid #c0c0c0;
    background-color: #f5f4f4;
    padding: 25px;
    border-radius: 15px;
    position: relative;
    float: right;
    width: 40%;
    height: 450px;
    overflow-y: auto;
    overflow-x: hidden;
    margin-left: 40px;
    font-weight: bold;
}

div #form {
    margin: 100px auto 50px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 300px;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    color: rgb(21,96,130);
    display: block;
    font-size: 1em;
    font-weight: bold;
    margin-bottom: 5px;
    text-align: left;
    width: 100%;

}
input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 25px;
    font-size: 14px;
    outline: none;
    box-sizing: border-box;
}

input:focus {
    border-color: rgb(21,96,130);
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    color: #fff;
    background-color: rgb(21,96,130);
    border: none;
    border-radius: 25px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

div .navigation {
    width: 45%;
    position: relative;
}
.navigation h3 {
    padding-bottom: 10px;
    border-bottom: 2px solid #c0c0c0;
}

div #side {
    float: left;
}
div #top {
    float: right;
}

/* Footer */
footer {
    width: 100%; /* Full width */
    background-color: rgb(21,96,130); /* Same color as nav text */
    color: white; /* Foreground color */
    text-align: center; /* Center-align the text */
    padding: 15px 0; /* Top and bottom padding */
    position: relative; /* Ensures it appears below all content */
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.2); /* Subtle shadow above the footer */
}

